* {

}

.selector-for-some-widget {
    box-sizing: content-box;
}

.input-style {
 margin: 5px 0 5px 20px;
}

.buttonCheck{
    margin: 0 5px 0 5px;
    border: 2px solid green;
    color: orange;
    border-radius: 20%;
}

.buttonClose{
    margin: 0 5px 0 5px;
    border: 2px solid green;
    color: orange;
    border-radius: 20%;
}

.finishedText {
    font-size: x-large;
    color: green;
}

